/**
 * -----------------------------------------------------------------------
 * colors
 * -----------------------------------------------------------------------
 *
 * @licence   MIT
 * @version   1.0.0
 */



$color-text: #444;
$color-white: #ffffff;
$color-active: rgb(236, 80, 80);
