/**
 * -----------------------------------------------------------------------
 * colors
 * -----------------------------------------------------------------------
 *
 * @licence   MIT
 * @version   1.0.0
 */



$color-text: #222222;
$color-white: #ffffff;
$color-grey: #888888;
$color-active: rgb(236, 80, 80);


$color-grey-light: #666666;
$color-grey-dark: #333333;

$color-text-light: rgba(white, 0.6);


$color-team-default: #444444;
$color-team-default-light: lighten($color-team-default, 20%);
$color-team-default-dark: darken($color-team-default, 20%);
$color-team-default-contrast: $color-white;
$color-team-default-anticontrast: $color-text;

$color-team-1: #fff96b;
$color-team-1-light: lighten($color-team-1, 20%);
$color-team-1-dark: darken($color-team-1, 20%);
$color-team-1-contrast: $color-text;
$color-team-1-anticontrast: $color-white;
$color-team-1-pulse: rgba($color-team-1-contrast, 0.5);
$color-team-1-pulse-end: rgba($color-team-1-contrast, 0);

$color-team-2: #5ae1ca;
$color-team-2-light: lighten($color-team-2, 20%);
$color-team-2-dark: darken($color-team-2, 20%);
$color-team-2-contrast: $color-white;
$color-team-2-anticontrast: $color-text;
$color-team-2-pulse: rgba($color-team-2-contrast, 0.5);
$color-team-2-pulse-end: rgba($color-team-2-contrast, 0);
