/**
 * -----------------------------------------------------------------------
 * typo
 * -----------------------------------------------------------------------
 *
 * Place all typography settings in here.
 * It is best to create a mixin for each typography «look», including font-size, weight etc.
 *
 * CAUTION:
 * - Do not put any content output here. Only Sass Variables, Functions, Mixins, no classes!
 *
 * TIPS:
 * - Avoid spacings like margins and paddings here
 *
 *
 *
 * @licence   MIT
 * @version   1.0.0
 */

// Font Families
$font-default: 'Roboto', sans-serif;
$font-word: 'Indie Flower', cursive;


@mixin typo-heading {
    font-family: $font-default;
    font-size: 18px;
    font-weight: 900;
}

@mixin typo-heading-2 {
    font-family: $font-default;
    font-size: 16px;
    font-weight: 900;
}

@mixin typo-body {
    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;
}

@mixin typo-bold {
    font-family: $font-default;
    font-size: 14px;
    font-weight: 900;
}

@mixin typo-small {
    font-family: $font-default;
    font-size: 12px;
    font-weight: 500;
}


@mixin typo-button-big {
    font-family: $font-default;
    font-size: 20px;
    font-weight: 500;
}

@mixin typo-next-action-text {
    font-family: $font-default;
    font-size: 20px;
    font-weight: 500;
}


@mixin typo-navigation {
    font-family: $font-default;
    font-size: 20px;
    font-weight: 500;
}

@mixin typo-word {
    font-family: $font-word;
    font-size: 30px;
    line-height: 1em;
}

