.page-login {
    height: 100%;
    padding: 15px 15px 30px 15px;
}

.page-login__form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.pane-fields { }


.pane-top {
    display: flex;
    justify-content: flex-end;
}

.pane-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.link-reset-passwort { }


.button-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid $color-white;
    color: $color-white;
}
