/**
 * -----------------------------------------------------------------------
 * body
 * -----------------------------------------------------------------------
 */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    @include typo-body;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(100vw at 50% 40%, $color-grey-light 0%, $color-grey-dark 70%);
    color: $color-white;
}

#app {
    height: 100%;
}
