/**
 * -----------------------------------------------------------------------
 * body
 * -----------------------------------------------------------------------
 */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    @include typo-body;
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(450px at 50% 40%, $color-grey-light 0%, $color-grey-dark 70%);
    color: $color-white;

    @include mq($from: tablet) {
        background: #111;
    }
}

#app {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 800px;
    margin: 0 auto;

    @include mq($from: tablet) {
        background: radial-gradient(450px at 50% 40%, $color-grey-light 0%, $color-grey-dark 70%);
    }
}
