
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}




.word-enter-active,
.word-leave-active {
    transition: all 1s ease;
    z-index: 3;
}

.word-enter {
    opacity: 0;
    transform: scale(2) rotate(-20deg);
}

.word-leave-to {
    opacity: 0;
    transform: translateX(120vw) scale(1.5) rotate(250deg);

    .word {
        background: var(--color-current-team);
    }
}



.navigation-enter-active {
    transition: all 0.5s ease;
    .navigation-group { transition: all 0.3s 0.2s ease; }
    &:after { transition: all 0.3s ease-out; }
}

.navigation-leave-active {
    transition: all 0.5s ease;
    .navigation-group { transition: all 0.3s ease; }
    &:after { transition: all 0.3s 0.2s ease-in; }
}

.navigation-enter,
.navigation-leave-to {
    opacity: 0.99;

    .navigation-group {
        transform: translateX(15px);
        opacity: 0;
    }

    &:after {
        transform: translateX(50%) translateY(-50%) scale(0.1) !important;
    }
}
